<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime  targetFramework="4.5" />
    <customErrors mode="Off"/>
    <trace enabled="true" pageOutput="true" requestLimit="40" localOnly="false"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  
  <system.serviceModel>
    
    <bindings>
    <basicHttpBinding>
      <binding maxReceivedMessageSize="110999888"> <!--Notice, no name attribute set-->
        <security mode="TransportCredentialOnly">
          <!-- koli tomu aby bola zapnuta Windows autentifikacia -->
          <transport clientCredentialType="Basic" /> 
        </security>
      </binding>
    </basicHttpBinding>
  </bindings>    
      
    <services>
      <service name="eDocument.asposeWords">
        <endpoint address="" contract="eDocument.IasposeWords" binding="basicHttpBinding"/>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  

  
  <appSettings>
    <add key="DefaultInputDir" value="d:/temp/" /><!-- Path to directory, where filler expects template-->
    <add key="DefaultOutputDir" value="d:/temp/" /><!-- Path to directory, where filler will store generated document -->
    <add key="DefaultOutputFileName" value="out.docx"/><!-- Filename of filler output document -->
    <add key="DefaultLogDir" value="d:/temp" /><!-- Path to directory, where the logs will be written -->
    <add key="DefaultStorageDir" value="d:/projects/eDocument/storage" /><!-- Path to directory, where final doocument will be copied -->
    <add key="DefaultStorageURL" value="http://local.edokumenty.sk/storage/" /><!-- URL of the document storage -->
  </appSettings>  

  <connectionStrings>
    <add name="eProcurement"
      connectionString="Server=local.ebiz.sk;Database=eProcurement;User Id=sa;Password=Lomtec2000;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>   
</configuration>
